html, body { margin: 0; padding: 0; }

#Calendar {

    width: 1170px;
    margin: 0 auto;

    #Controls {

        height: 50px;
        margin-top: 10px;

        #Date { display: inline-block; font-size: 30px; line-height: 34px; }

        #AddItem {

            float: right;
            display: inline-block;

            a i { color: black;

                 &:hover { color: #777777; }

            }

        }

        #SearchBox {

            float: right;
            display: inline-block;
            width: 300px;

        }

    }

    #Error {
        //display: none;
        float: right;
        display: inline-block;
        font-size: 18px;
        font-weight: bolder;
        line-height: 36px;
    }

    .red { color: red; }
    .green { color: green; }
    .black { color: black; }
    .orange { color: orange; }

    #List {

        margin-top: 25px;

        table tr th, td { text-align: center }

    }

}